<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Vocab Quiz Generator{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='write.png') }}"
    />
  </head>
  <body>
    <header>
      <h1>{% block header %}Vocab Quiz Generator &#128221;{% endblock %}</h1>
      <p id="my-link">
        by <a href="https://eesa.zahed.ca" target="_blank">eesa z.</a>
      </p>
      <br />
    </header>

    <main>{% block content %}{% endblock %}</main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
